// VARIABLES
// color
$color-background: #f2f2f2;
$color-font: #0d0d0d;
$color-background-dark: #0d0d0d;
$color-font-dark: #f2f2f2;
$color-banner: #d9d9d9;
$color-banner-dark: #262626;
$color-underline: #808080;
// width
$size-banner: 3rem;
$size-banner-expanded: 11.5rem;
// font-size
$font-size-mobile: 16px;
$font-size-desktop: 18px;
$font-size-icon: 1.5em;
$font-size-company-name: 1em;
// margin
$margin-main: $size-banner + (.75rem * 2);
$margin-main-compact: $size-banner-expanded + (.75rem * 2);
// transition
$transition-banner: width .5s ease-in; 
$transition-menuitem: opacity .25s ease-in; 
$transition-main: margin .5s ease-in; 
// breakpoints
$breakpoint-landscape: 330px; //height
$breakpoint-desktop: 769px;
$breakpoint-desktop-large: 1025px;

// GLOBAL
html, body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size-mobile;
    background-color: $color-background;
    color: $color-font;
}
@media screen and (min-width: $breakpoint-desktop) {
    body {
        font-size: 18px;
    }
}

// SKIP TO MAIN CONTENT
.skip-app-banner {
    display: block;
    text-align: center;
    padding: 1rem 0;
    color: inherit;
    text-transform: capitalize;
    position: absolute;
    left: -10000px;
    &:focus {
        position: static;
        left: 0;
        margin: .1rem;    
    }
}
// APP BANNER
.app-banner {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: $size-banner;
    overflow: hidden;
    background-color: $color-banner;
    transition: $transition-banner;
    &.expanded {
        width: $size-banner-expanded;
    }   
    .cta {
        text-decoration: none;
        color: inherit;
    }
    .btn {
        border: none;
        background: transparent;
        font-size: inherit;
        font-family: inherit;
        padding: 0;
        cursor: pointer;
        color: inherit;
    }
    .list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__container {
        margin-top: .65rem;
    }
    &__container, &__menuitem {
        display: flex;
        align-items: center;
    }
    &__menu-icon {
        font-size: $font-size-icon;
        padding: .75rem;
    }
    &__heading {
        font-size: $font-size-company-name;
    }
    &__menuitem, &__menuitem.btn {
        column-gap: .75rem;
        padding: .75rem 0 .75rem .75rem;
    }
    &__menuitem.btn {
        width: 100%;
    }
    &__menuitem-icon {
        font-size: $font-size-icon;
    }
    &__menu-button, &__menuitem-icon{
        &:active {
            animation-name: active-push;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
    }
    &__heading, &__menuitem-text {
        white-space: nowrap;
        opacity: 0;
        transition: $transition-menuitem;
    }
    &__heading.visible, &__menuitem-text.visible {
        opacity: 1;
        transition: $transition-menuitem .5s;
    }
}

@keyframes active-push {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.dark-mode {
    background-color: $color-background-dark;
    color: $color-font-dark;
    .app-banner {
        background-color: $color-banner-dark;
    }
}

main {
    margin-left: $size-banner;
    transition: $transition-main;
    &.compact {
        margin-left: $size-banner-expanded;
    }
    section {
        padding: 1.5rem 1rem;
        height: 100vh;
        h2, h3, h4, h5 {
            margin: 0;
        }
    }
}



@media screen and (min-height: $breakpoint-landscape) {
    .app-banner {
        &__menuitem, &__menuitem.btn {
            padding: 1rem 0 1rem .75rem;
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .app-banner{
        padding: 1rem .5rem;
        &.expanded {
            width: 12.5rem;
        }
        &__menuitem, &__container {
            position: relative;
            transform: perspective(1px) translateZ(0);
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                bottom: 0;
                height: 4px;
                background: $color-underline;
                transform: translateY(4px);
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
            &:hover:before {
                transform: translateY(0);
            }
        }
        
    }
    main {
        margin-left: $margin-main;
        &.compact {
            margin-left: 14.5rem;
        }
        section {
            padding: 2.5rem 1rem;
        }
    }
}




