// VARIABLES
// color
$color-lightest: #f2f2f2;
$color-darkest: #0d0d0d;
$color-banner: #d9d9d9;
$color-banner-dark: #262626;
$color-midtone: #808080;
// height
$height-menuitem: 3.5rem;
// width
$width-banner: 3rem;
$width-banner-expanded: 11.5rem;
$width-menuitem: 3.5rem;
$width-max: 1024px;
// gap
$gap-menuitem: .75rem;
$gap-list: 1.5rem;
$gap-list-desktop: 1.75rem;
// padding
$padding-landmark: 1rem;
$padding-banner: .5rem;
$padding-menuitem: .75rem;
$padding-menuitem-large: 1rem;
// margin
$margin-main: $width-banner + ($padding-menuitem * 2);
$margin-main-compact: $width-banner-expanded + ($padding-menuitem * 2);
// font-size
$size-menuitem: .75em; 
$size-menuitem-desktop: .9em; 
$size-icon: 1.5em;
$size-company-name: 1em;
$size-phone: .9em;
// transition
$transition-banner: width .5s ease-in; 
$transition-menuitem: opacity .25s ease-in; 
$transition-main: margin .5s ease-in; 
// breakpoints
$breakpoint-landscape: 330px;
$breakpoint-desktop: 769px;
$breakpoint-desktop-large: 1025px;

// GLOBAL
html, body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: $color-lightest;
    color: $color-darkest;
}
// SKIP TO MAIN CONTENT
.skip-app-banner {
    display: block;
    text-align: center;
    padding: $padding-landmark 0;
    color: inherit;
    text-transform: capitalize;
    position: absolute;
    left: -10000px;
    &:focus {
        position: static;
        left: 0;
        margin: .1rem;    
    }
}
// APP BANNER
.app-banner {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: $width-banner;
    overflow: hidden;
    background-color: $color-banner;
    transition: $transition-banner;
    .cta {
        text-decoration: none;
        color: inherit;
    }
    
    .btn {
        border: none;
        background: transparent;
        font-size: inherit;
        font-family: inherit;
        padding: 0;
        cursor: pointer;
        color: inherit;
    }
    
    .list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__container {
        margin-top: .65rem;
    }
    &__container, &__menuitem {
        display: flex;
        align-items: center;
    }
    &__menu-icon {
        font-size: $size-icon;
        padding: $padding-menuitem;
    }
    &__heading {
        font-size: $size-company-name;
    }
    &__menuitem, &__menuitem.btn {
        column-gap: $gap-menuitem;
        padding: $padding-menuitem 0 $padding-menuitem $padding-menuitem;
    }
    &__menuitem.btn {
        width: 100%;
    }
    &__menuitem-icon {
        font-size: $size-icon;
    }
    &__menu-button, &__menuitem-icon{
        &:active {
            animation-name: active-push;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
    }
    &__heading, &__menuitem-text {
        white-space: nowrap;
        opacity: 0;
        transition: $transition-menuitem;
    }
    &__heading.visible, &__menuitem-text.visible {
        opacity: 1;
        transition: $transition-menuitem .5s;
    }
    &.expanded {
        width: $width-banner-expanded;
    }    
}

@keyframes active-push {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.dark-mode {
    background-color: #0d0d0d;
    color: #f2f2f2;
    .app-banner {
        background-color: #262626;
    }
}

main {
    margin-left: $width-banner;
    transition: $transition-main;
    &.compact {
        margin-left: $width-banner-expanded;
    }
    section {
        padding: 1.5rem $padding-landmark;
        height: 100vh;
        h2, h3, h4, h5 {
            margin: 0;
        }
    }
}



@media screen and (min-height: $breakpoint-landscape) {
    .app-banner {
        &__menuitem, &__menuitem.btn {
            padding: $padding-menuitem-large 0 $padding-menuitem-large $padding-menuitem;
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .app-banner{
        padding: $padding-landmark $padding-banner;
        &__menuitem, &__container {
            position: relative;
            transform: perspective(1px) translateZ(0);
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                bottom: 0;
                height: 4px;
                background: gray;
                transform: translateY(4px);
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
            &:hover:before {
                transform: translateY(0);
            }
        }
        
    }
    main {
        margin-left: $margin-main;
        &.compact {
            margin-left: 13.5rem;
        }
        section {
            padding: 2.5rem $padding-landmark;
        }
    }
}




